# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# IDE directories
.vscode/
.VSCodeCounter/

# Settings and credentials
oauth2.keys.json
.env

# Generated docs
docs/
